.logo {
  width: 90px;
  height: 80px;
}

/* start contact section style  */
.contactSection {
  margin-top: 70px;
}
.h1 {
  font-weight: 800;
  font-weight: bold;
  font-style: unset;
  font-size: 48px;
}
.P {
  font-size: 16px;
  line-height: 1.6;
  color: rgba(90, 89, 89, 1);
  margin-top: 25px;
  margin-bottom: 16px;
  font-weight: 400;
  font-style: unset;
  font-weight: 600;
  max-width: 975px;
}

/* start contact form styling */
.conatiner_Form {
  display: flex;
  max-width: 1000px;
  margin: 0% auto;
}

.top_button {
  display: flex;
  gap: 32px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: red;
}
.form_control {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 25px;
}

.form_control input {
  padding: 0 8px;
  height: 40px;
}
.form_control label {
  font-size: 14px;
  position: absolute;
  top: -12px;
  left: 10px;
  background-color: white;
  padding: 0 10px;
}
.contact_image {
  margin-top: 0px;
}
